<div class="about">
  <h6><a href="/index">Home</a> &nbsp > &nbsp About This Website</h6>
  <h1>About This Website</h1>
</div>
<h1 class ="title-mobile">{{title}}</h1>
<br>
<div class="static-content-container">
  <div>
    <h3>What is Diabetes@Home?</h3>
    <p>Diabetes@Home connects patients and clinicians in Victoria, helping them
      manage diabetes conditions remotely and safely. We aim to service around
      5,000 patients and 100 clinicians across the state.</p>
  </div>

  <div>
    <h3>Why use Diabetes@Home?</h3>
    <p>The app offers a user-friendly interface for patients to enter their own
      health data into the system. Clinicians will be able to see their
      patients' data and communicate with them. Users must be logged in to
      access most features.
    </p>
  </div>

  <div>
    <h3>Project Details</h3>
    <p>Diabetes@Home is a web project completed as part of INFO30005 Web
      Information Technologies at the University of Melbourne.
    </p>
    <p>This web app is jointly designed by:
      <ul>
        <li>Tom Le</li>
        <li>Shervyn Singh</li>
        <li>Tony Duong</li>
        <li>Abrar Zahin</li>
        <li>Kai Huang</li>
      </ul>
    </p>
  </div>
</div>