<div class="about">
  <h6><a href="/index">Home</a> &nbsp > &nbsp About Diabetes</h6>
  <h1>About Diabetes</h1>
</div>
<h1 class ="title-mobile">About Diabetes</h1>

<div class="video-wrapper">
  <iframe
    width="560"
    height="225"
    src="https://www.youtube.com/embed/wZAjVQWbMlE"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="static-content-container">
  <div>
    <h3>What is Diabetes?</h3>
    <p>Diabetes is a chronic disease caused by either the pancreas not producing
      enough insulin, or the body not responding properly to the insulin
      produced. Insulin is a hormone which is responsible for helping glucose
      from food get into cells to be used as energy. There are two main types of
      diabetes.
    </p>
  </div>

  <div>
    <h3>Type 1 Diabetes</h3>
    <p>Occurs when the immune system destroys the cells in the pancreas which
      affects the production of insulin. People who have Type 1 diabetes need to
      inject insulin every day. Some symptoms of Type 1 diabetes are excessive
      excretion of urine, thirst, constant hunger, weight loss and fatigue.
    </p>
  </div>

  <div>
    <h3>Type 2 Diabetes</h3>
    <p>Takes place when body cells do not respond properly to insulin. People
      with Type 2 diabetes may need tablets and/or injections, including
      insulin, to manage their diabetes. Symptoms of Type 2 diabetes are similar
      to that of Type 1 but are often less marked so the disease may be
      diagnosed several years after onset, after complicaations have already
      arisen.
    </p>
  </div>

  <div>
    <h3>Prevention of Diabetes</h3>
    <p>Diabetes prevention focuses on keeping blood sugar levels as close to
      normal as possible, without causing low blood sugar. Healthy practices for
      diabetes prevention include:
      <ul>
        <li>Maintain a healthy body weight</li>
        <li>Exercise regularly and be physically active</li>
        <li>Maintain a healthy diet, avoiding sugar and saturated fats</li>
        <li>Avoid tobacco use</li>
      </ul>
    </p>
  </div>

  <div>
    <h3>Useful links</h3>
    <p>Want to know more about diabetes? Check out the links below:
      <ul>
        <li><a href="https://www.diabetesvic.org.au/">Diabetes Victoria</a></li>
        <li>
          <a
            href="https://www.who.int/news-room/fact-sheets/details/diabetes"
          >WHO's information about diabetes</a></li>
      </ul>
    </p>
  </div>
</div>