<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preferences</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/preferences.css" />
  <link rel="stylesheet" href="/css/patient.css" />
</head>

<body>
    <div>
    {{#if incorrect_password}}
      <p class="err-msg">Your current password is incorrect.</p>
    {{/if}}

    {{#if no_match}}
      <p class="err-msg">New password does not match password confirm. </p>
    {{/if}}

    {{#if password_length_error}}
      <p class="err-msg">New password does not meet the minimum required length (8 characters).</p>
    {{/if}}
    </div>

<form class="modal-content" id="modal-content-patient-passsword" method="POST" action="/dr_home/preferences/change_password">
        <div>
            <label for:="current_password">Current password:</label>
            <input type="password" name="current_password" placeholder="Enter your current password." required/>
        </div>
        <div>
            <label for:="new_password">New password:</label>
            <input type="password" name="new_password" placeholder="Enter your new password (minimum length 8 characters)." required/>
        </div>
        <div>
            <label for:="new_password">Confirm new password:</label>
            <input type="password" name="confirm_new_password" placeholder="Confirm your new password." required/>
        </div>
        <div>
            <p id="warning_message"></p>
        </div>
        <div>
            <button id="password-button" type="submit" onclick="checkPassword()">Submit</button>
        </div>
  </form>

  <a id="back-to-pref" href="/dr_home/dr_preferences">
    <button id="home-from-edit-threshold">Back to preferences</button>
  </a>
</body>