/* CSS for password page */
h1 {
text-align: center;
}

h3 {
    text-align: center;
    color: red;
}

a {
    color: white;
}

button {
    background-color: #ffa51e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: large;
    white-space: pre-line;
    width: 125%;
    justify-self: center;
    align-self: center;
}

.modal-password {
    display: flex;
    flex-direction: column;
    margin: 5% auto 5% auto; 
    border: 1px solid #888;
    width: 50%;
    height: 30%;
    border-radius: 15px;
    border-color: #ffa51e;
    border-width: 3px;
    padding: 1%;
    align-items: center;
  }

@media only screen and (max-width: 376px) {
    h1 {
        text-align: center;
        white-space: normal;
        margin: 0;
    }

    .modal-password {
        width: 90%;
        height: 45%;
        display: inline-block;
    }

    button {
        width: 100%;
    }
}
  