<head>
    <link rel="stylesheet" href="/css/password.css" />
</head>

<body>
    <div class="modal-password">
        <h1>You have changed your password!</h1>
        <h3>Log out to reauthenticate and continue using this app.</h3>
        <br><br><br>      
        <a href="/logout"><button>Log out</button></a>
    </div>
</body>