<link rel="stylesheet" href="/css/register_patient.css" />

<div class="register-patient-intro">
    <br>
    <h3>Make sure you record these details safely as they cannot be reset until a patient has logged in</h3>
</div>


<table>
    <tr>
        <td><h2 class="blue-emphasis">{{ patient }}'s email is:</h2></td>
        <td><h2>{{ email }}</h2></td>
    </tr>
    <tr>
        <td><h2 class="blue-emphasis">{{ patient }}'s password is:</h2></td>
        <td><h2>{{ password }}</h2></td>
    </tr>
</table>
<a href="/dr_home" class="home-nav"><button class="home-button">Home</button></a>